.fa-bars {
	margin-left: .5em;
	font-size: 40px;
	color: #569099;
	float: left;
}

.fa-home {
	font-size: 40px;
	}
	
.fa-pencil-square-o {
	font-size: 40px;
	margin-top: 2px;
	margin-left: 2px;
	}
	
.fa-phone {
	font-size: 40px;
	}

#header {
	background: white;
	display: inline-flex;
	width: 100%;
	height: 80px;
	text-align: center;
}

.header_icon {
	border: 2px solid #a1a1a1;
	border-radius: 40px;
	width: 60px;
	height: 60px;
	float: right;
	margin-right: 1em;
	margin-top: auto;
	margin-bottom: auto;
    color: #569099;
}


.head_1 {
	display: inline-flex;
	height: 100%;
	width: 33%;
	margin: 0;
	float: left;

}

.head_2 {
	display: inline-flex;
	height: 100%;
	width: 34%;
	margin: 0;
	float: left;
}

.head_3 {
	height: 100%;
	width: 33%;
	margin: 0;	
	float: left;
	display: flex;
    align-items: center;
    justify-content: flex-end;
}

#logo {
	display: inline-block;
	margin: auto;
	min-height: 54px;
	min-width: 212px;

}

#menu_button {
    border: 2px solid #a1a1a1; 
	float: left;
    width: 185px;
	height: 60px;
    border-top-right-radius: 35px;
	border-bottom-right-radius: 35px;
	text-decoration: none;
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
	border-left: 0;
	max-width: 185px;
	display: flex;
    align-items: center;
    justify-content: space-around;
}

#menu_text {
	font-size: 24px;
	font-weight: bold;
	font: Gotham Bold;
	color: #569099;
}

@-moz-document url-prefix() {
	#menu_text {
		margin-top: 5px;
	}
}




@media (max-width: 675px) {

.fa-bars {
	margin-left: .2em;
	font-size: 35px;
	color: #569099;
	
}
	
.fa-home {
	font-size: 24px;
	}
	
.fa-pencil-square-o {
	font-size: 24px;

	}
	
.fa-phone {
	font-size: 24px;
	}

.header_icon {
	border: 2px solid #a1a1a1;
	border-radius: 40px;
	width: 45px;
	height: 45px;
	float: right;
	margin-right: .3em;
	margin-top: auto;
	margin-bottom: auto;
	display: flex;
    align-items: center;
    justify-content: center;
}

#menu_button {
    border: 2px solid #a1a1a1; 
	float: left;
    width: 7em;
	height: 45px;
    border-top-right-radius: 35px;
	border-bottom-right-radius: 35px;
	display: block;
	text-decoration: none;
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
	display: flex;
    align-items: center;
    justify-content: center;
	margin-left: -2px;
	max-width: 185px;
}

.head_3 {
	height: 100%;
	width: 33%;
	margin: 0;
	margin-right: -15px;
	float: left;
	display: flex;
    align-items: center;
    justify-content: flex-end;
}

#menu_text {
	display: none;
}



}

@media (max-width: 600px) {


.head_1 {
	display: inline-flex;
	height: 100%;
	width: 22%;
	margin: 0;
	float: left;

}
	
.head_2 {
	width: 50%;
	}


.head_3 {
	height: 100%;
	width: 28%;
	margin: 0;
	float: left;
	display: flex;
    align-items: center;
    justify-content: flex-end;
}
	
#logo {
	float: right;
	}

#menu_text {
	display: none;
}

}

