#accident_checklist_button {
	margin-bottom: 4em;
}

body {
	height:100%;
	max-height: 700px;
}

#checklist_button_icon {
	float: left;
	margin: auto;
	font-size: 40px;
	color: #FFFFFF;
	width: 30%;
	height:100%;
	display: flex;
    align-items: center;
    justify-content: center;
}

.icon_main_page {
	display: flex;
    align-items: center;
    justify-content: center;
}

#left_column_main {
	float: left;
	width: 33%;
	height:100%;
	word-wrap: normal;
}

.main_bottom_row_hidden {
	display: none;
	}

.main_right_button_text {
	font: Gotham Bold;
	font-weight: bold;
	font-size: 32px;
	color: #FFFFFF;
	width: 70%;
	height:100%;
	display: flex;
    align-items: center;
    justify-content: center;
    line-height: 30px;
}


.main_right_button {
	border: 2px solid white;
	height: 110px;
	width: 250px;
	border-top-left-radius: 60px;
	border-bottom-left-radius: 60px;
	display: block;
	text-decoration: none;
	text-align: center;
	border-right: 0;
	margin-top: 3.5em;
	float: right;
	clear: both;
}

.fa-trophy {
	font: Gotham Bold;
	color: #FFFFFF;
	font-size: 32px;
}


#middle_column_main {
	height: 100%;
	width: 34%;
	margin: 0;
	float: left;
	display: flex;
    align-items: center;
    justify-content: center;
}

#register_button {
	border: 2px solid white;
	height: 110px;
	width: 250px;
	border-top-right-radius: 60px;
	border-bottom-right-radius: 60px;
	display: block;
	text-decoration: none;
	text-align: center;
	border-left: 0;
  	background: linear-gradient(#ebaa2f, #f4ce16);
  	margin-top: 3.5em; 
}

#register_button_icon_main {
	font-size: 38px;
	color: #002663;
}

#register_button_text {
	font: Gotham Bold;
	font-weight: bold;
	font-size: 38px;
	color: white;
}

#report_button_icon {
	float: left;
	margin: auto;
	font-size: 40px;
	color: #FFFFFF;
	width: 30%;
	height:100%;
	display: flex;
    align-items: center;
    justify-content: center;
}

#right_column_main {
	width: 33%;
	height: 100%;
	float: left;
	margin: 0;
}

#row_spacer {
	height: 15%;
}

#score_container_main_page {	
	display: flex;
    align-items: center;
    justify-content: space-between;
}

#score_main_page {
	font: Gotham Bold;
	color: #FFFFFF;
	font-size: 32px;
}

.score_status_icon {
	float: left;
	margin-top: 1em;
	margin-left: 2em;
	margin-bottom: 10px;
	height: 60px;
	width: 60px;
	border: 1px solid white;
	border-radius: 40px;
	box-shadow: 0 0 0 5px #569099;
	display: flex;
    align-items: center;
    justify-content: center;
}

.score_status_row {
	vertical-align: middle;
}

.score_status_text {
	width: 30%;
	line-height: 24px;
	float:left;
	clear: both;
	display: block;
	font: Gotham Bold;
	font-size: 27px;
	color: #FFFFFF;
	margin-top: 1em;
	margin-left: 30px;
	margin-bottom: 10px;
	font-weight: bold;
	display: flex;
    align-items: center;
    justify-content: flex-start;
    vertical-align: middle;
}

#start_drive_button {
	height: 280px;
	width: 280px;
	margin-top: 3.5em;
}

#status_container_main_page {
	width: 40%;
	display: flex;
    align-items: center;
    justify-content: flex-start;
}

#value_prop {
	margin-top: 3.5em;
	height: 110px;
	display: block;
}

#value_prop_header {
	display: block;
	font: Gotham Bold;
	font-size: 27px;
	color: #FFFFFF;
	margin-left: 30px;
	font-weight: bold;
}

#value_prop_text {
	display: block;
	font: Gotham Book;
	font-size: 17px;
	color: #ABC8CC;
	line-height: 28px;
	margin-top: 8px;
	margin-left: 30px;
	font-weight: bold;
	word-wrap: normal;
}




@media (max-width: 700px) {

#checklist_button_icon {
	font-size: 26px;
}

.main_right_button_text {
	font-size: 26px;
}


.main_right_button {
	height: 90px;
	width: 205px;
	margin-top: 4em;
}

#register_button {
	height: 90px;
	width: 205px;
}

#register_button_icon_main {
	font-size: 26px;
}

#register_button_text {
	font-size: 26px;
}

#report_button_icon {
	font-size: 26px;
}

.score_status_text {
	font-size: 20px;
	margin-left: 20px;
	width: 25%;
}

#value_prop_header {
	font-size: 22px;
	margin-left: 20px;
}

#value_prop_text {
	font-size: 16px;
	line-height: 20px;
	word-wrap: normal;
	margin-left: 20px;
}


}

@media (max-width: 650px) {

#start_drive_button {
	height: 200px;
	width: 280px;
	margin-top: 2em;
}
	
.main_bottom_row_hidden {
	display: block;
    align-items: center;
    justify-content: space-between;
	}
	
.main_right_button {
	margin-top: 2em;
}
	
#register_button {
	margin-top: 20px;
}
	
#right_column_main {
	max-height: 250px;
	}
	
.score_status_text {
	display: none;
	}

.score_status_icon {
	display: none;
	}
	
.score_status_icon_hidden {
	float: left;
	clear: none;
	display: flex;
	align-items: center;
	justify-content: center;
	}
	
.score_status_text_hidden {
	width: 15%;
	height: 60px;
	float: left;
	clear: none;
	display: flex;
	align-items: center;
	justify-content: space-around;
	
	}
	
#value_prop {
	margin-top: 1.5em;
	}
		
}

@media (max-width: 600px) {

#checklist_button_icon {
	font-size: 20px;
}
	
#left_column_main {
	width: 30%;
	}
	


.main_right_button_text {
	font-size: 20px;
}


.main_right_button {
	height: 60px;
	width: 135px;
	margin-top: 2em;
}

#register_button {
	height: 60px;
	width: 135px;
	margin-top: 50px; 
}

#register_button_icon_main {
	font-size: 20px;
}

#register_button_text {
	font-size: 20px;
}

#report_button_icon {
	font-size: 20px;
}
	
#right_column_main {
	width: 36%;
	max-height: 200px;
	}

#row_spacer {
	height: 2px;
}

#score_status_table {
	margin-top: -20px;
}
	

	
#start_drive_button {
	height: 150px;
	width: 280px;
	margin-top: 2em;
}

#value_prop {
	margin-top: 1em;
	}

#value_prop_header {
	display: inline-block;
	font-size: 20px;
	margin-top: 0;
	margin-left: 15px;

}

#value_prop_text {
	font-size: 14px;
	line-height: 15px;
	word-wrap: normal;
	margin-left: 15px;
	 
}

#view_reports_button {
	margin-top: 2em;
}


}

