<div class="modal-dialog">
  <div class="modal-content">
    <div class="errorModal modal-body">
	    <div class="header_error row">
			<div class="header_text_error col-xs-12">An active data
				connection is required to use this application. Please wait while we
				attempt to reconnect.</div>
			</div>
		
		<div class="error_space row"></div>
		
		<div class="error_spinner row">
			<div class="col-xs-4"></div>
			<div class="loading bar col-xs-4">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
			<div class="col-xs-4">
				<button class="quit_button button_override">
					<span>Quit App</span>
				</button>
			</div>
		</div>
		



    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->






