<div id="header">
	<div class="head_1">
		<button id="menu_button" class="button_override">
		<span data-contentKey="header_menu_button_icon" class="fa fa-bars fa-2x"></span><span data-contentKey="header_menu_button_text" id="menu_text"> Menu </span>
		</a>
	</div>
	<div class="head_2">
		<img data-contentKey="header_logo" id="logo" src="../../images/logo.png" />
	</div>
	<div class="head_3">
		<button data-contentKey="header_home_icon" id="home_icon" class="header_icon button_override"><span class="fa fa-home fa-2x"></span></button>
		<div id="register_settings_icon_element">
		<button data-contentKey="header_settings_icon" id="register_icon" class="header_icon button_override"><span class="fa fa-pencil-square-o fa-2x"></span></button>
		</div>
		<button data-contentKey="header_phone_icon" id="phone_icon" class="header_icon button_override"><span class="fa fa-phone fa-2x"></span></button>
	</div>
</div>
