<div id="TermsAndConditions>

<div id="imageHeader">
	<div class="imageContainer">
		<img data-contentKey="dss_lmlogo" id="terms_logo"
			src="../../images/logo_terms.svg" />
	</div>
</div>


<div id="termsHeader1">
	<div class="termsTitle">

		<span data-contentKey="dss_tcpagebannerheadertext" id="terms_title">
			Welcome to Drive Coach </span>

	</div>
</div>

<div id="termsHeader2">
	<div class="termsSubTitle">
		<span data-contentKey="dss_tcpagebannertext" id="terms_subtitle">
			Please read and accept the terms below: </span>
	</div>
</div>

<div class="termsContainer">
	<div class="leftContainer">
		<div class="terms_container_mask">
			<div id="termsContainer">
				<div class="termsConditionsContent">
					<div data-contentKey="conditions_content_test">
						<h3>
							CONDITIONS OF USE
							</h3>
								<p>By using this website and all others owned and maintained
									by Liberty Mutual, you agree to the following terms and
									conditions so please read them carefully. These terms and
									conditions may be revised at any time by our updating this
									notice and posting it on our website. You are bound by any such
									revisions if you continue to use the website after we have
									posted the changes; and we suggest that you periodically visit
									this page to review the most recent Terms & Conditions. If you
									decide to purchase insurance products or services from Liberty
									Mutual the terms and conditions specified in your policy or
									agreement with Liberty Mutual will apply. All references to
									"Liberty Mutual" include Liberty Mutual Insurance Company and
									its affiliates listed below.</p>

								<h3>Trademarks & Copyright</h3>
								<p>All trademarks, services marks, trade names, logos, icons
									and domain names located on this website are the property of
									Liberty Mutual and others. Nothing contained on the website
									should be construed as granting, by implication or otherwise,
									any license or right to use any trademark, service mark, trade
									name, logo, icon and domain name displayed on this website
									without the written permission of Liberty Mutual or third party
									that may own such marks or names displayed on this website.
									Your use of the trademarks, service marks, trade names, logos,
									icons and domain names displayed on this website, or any other
									content on this website, except as provided herein, is strictly
									prohibited. Images displayed on this website are either the
									property of, or used with permission by, Liberty Mutual. The
									use of these images by you, or anyone else authorized by you,
									is prohibited unless specifically permitted. Any unauthorized
									use of the images may violate copyright laws, trademark laws,
									the laws of privacy and publicity, and communications
									regulations and statutes.</p>

								<h3>DISCLAIMER</h3>
								<p>The information and descriptions contained on our website
									are not intended to be complete descriptions of all terms,
									exclusions and conditions applicable to every insurance product
									or service offered by Liberty Mutual, but are provided 'as is'
									and for general informational purposes. Liberty Mutual makes no
									representations or warranties that the materials are suitable
									for your needs, are complete, timely, reliable, or are free
									from errors, inaccuracies or typographical mistakes. Liberty
									Mutual does not warrant that the website will operate error
									free or is free from viruses, worms, Trojan horses or other
									destructive or harmful code. Liberty Mutual also assumes no
									responsibility, and shall not be liable for, any damages to
									your computer equipment or other property as a result of your
									access to, use of, or browsing in the website or your
									downloading of any materials, data, text, images, video, or
									audio from this website or arising in connection with any
									failure of performance, error, omission, interruption, defect,
									computer virus, delay in operation or transmission, or line or
									system failure.</p>


								<p class="fine-print">LIBERTY MUTUAL DISCLAIMS ALL
									WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO,
									IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A
									PARTICULAR PURPOSE OR NON-INFRINGEMENT.</p>
					</div>
				</div>
			</div>
		</div>
	</div>



	<div class="centerContainer">
		<div class="upButton">
			<button id="upButton_termsandconditions" class="scroll_button_disabled button_override">
				<span class="fa fa-chevron-up"></span>
			</button>
		</div>
		<div class="downButton">
			<button id="downButton_termsandconditions" class="button_override">
				<span class="fa-chevron-down fa"></span>
			</button>
		</div>
	</div>



	<div class="rightContainer">
		<div class="buttons">
			<button id="accept_button" class="button_override">
				<span data-contentKey="dss_tcpageacceptbuttontext"> Accept </span>
			</button>
		</div>
		<div class=buttons2">
			<button id="decline_button" class="button_override">
				<span data-contentKey="dss_tcpagedeclinebuttontext"> Decline
				</span>
			</button>
		</div>
	</div>
</div>


</div>
