<div id="welcome">
	<div id="left_column_main">
		<div id="value_prop">
			<h2><span id="value_prop_header" data-contentKey="dss_valuepropheader" > Be a Better Driver </span></h2>

			<span id="value_prop_text" data-contentKey="dss_valueproptext"> Get all Drive Coach reporting features and local speed limit monitor. </span>
		</div>
		<button id="register_button" class="button_override">
			<span id="register_button_text" data-contentKey="dss_registerbuttontext"> Register </span> 
			<span id="register_button_icon_main" data-contentKey="register_button_icon"><i class="fa fa-pencil-square-o"></i></span>
		</button>
		
	</div>
	<div id="middle_column_main">
		<img data-contentKey="start_drivecoach_img" id="start_drive_button" src="../../images/IVI-StartButton-basic.svg" />	
	</div>
	<div id="right_column_main">
		<button id="view_reports_button" class="main_right_button button_override">
			<span id="report_button_icon" data-contentKey="view_reports_button_icon"> <i id="report_icon" class="fa fa-bar-chart-o"></i></span>
			<span class="main_right_button_text" data-contentKey="dss_reportsbuttontext"> View Reports </span>
		</button>
		<button id="accident_checklist_button" class="main_right_button button_override">
			<span id="checklist_button_icon" data-contentKey="view_reports_button_icon" ><i id="checklist_icon" class="fa fa-check-square-o"></i></span>
			<span class="main_right_button_text" data-contentKey="dss_accidentbuttontext"> Accident Checklist </span>
		</button> 
	</div>
	<div class="main_bottom_row_hidden" id="main_bottom_row_hidden">
	</div>
</div>



















